/** mine game style sheet **/
html {
    font-size: 32px;
}
div {
    padding-left: 0px;
    padding-right: 0px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
  outline-style: none;
  text-decoration: none;
  color:whitesmoke;
}
a:hover{
  outline-style: none;
  cursor: pointer;
  text-decoration: none;
}
a:focus{
  outline-style: none;
}
::-moz-placeholder {
  color: #bfbfbf;
  font-size: 1rem;
}
::-webkit-input-placeholder {
  color:#bfbfbf;
  font-size: 1rem;
}
:-ms-input-placeholder {
  color:#bfbfbf;
  font-size: 1rem;
}
.btn-red {
    background-color: #f6253a;
    color: whitesmoke;
}
.bg-f8 {
    background-color: #f8f8f8;
}
.banner {
    position: relative;
    padding: 0;
    line-height: 80px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    color: whitesmoke;
    background-color: #f6253a;
}
span.banner-back {
    position: absolute;
    left: 10px;
    background: url("../imgs/l-arrow-w.png") no-repeat center center;
    height: 80px;
}
span.banner-back > a {
    display: inline-block;
    width: 80px;
    height: 80px;
}
ul.footer {
    height: 100px;
    line-height: 100px;
    background-color: #434343;
    color: whitesmoke;
    position: fixed;
    bottom: 0;
    padding: 0;
    width: 100%;
    margin:0;
}

ul.footer > li {
    float: left;
    text-align: center;
    width: 20%;
    display: block;
    font-size: 0.75rem;
}

ul.footer > li.active {
    background-color: #f6253a;
}

div.login-register {
    margin: 160px auto;
    padding: 20px;
}

div.login-register > button {
    width: 100%;
}
/* room ui */
.room-banner {
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: #303030;
    z-index: 2;
}
.room-banner > a {
    float: left;
    line-height: 80px;
}
.room-banner > a > img {
    width: 100%;
}
.room-btn-bar {
    border-top: 1px solid #d6d6d6;
    background-color: #f4f4f4;
    position: absolute;
    height: 100px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    z-index: 2;
}
.room-btn-bar > span {
    line-height: 100px;
}
.room-message {
    position: absolute;
}
.room-message {
    padding-top: 80px;
    padding-bottom: 100px;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #ebebeb;
}
.redpack-bubble {
    position: relative;
    width: 100%;
    margin: 12px 10px;
}
.r-left > div {
    float: left;
}
.r-right > div {
    float: right;
}
.redpack-bubble .avatar img {
    width: 82px;
}
.redpack-bubble .bubble {
    width: 450px;
    height: 200px;
    background-color: #f99d3a;
    border-radius: 14px;
    margin: 0 20px;
}
.redpack-bubble-gain .bubble {
    background-color: #fed09c;
}
.r-left > div.bubble::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 14px solid #f99d3a;
    border-bottom: 10px solid transparent;
    position: absolute;
    left: 88px;
    top: 30px;
}
.r-right > div.bubble::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 14px solid #f99d3a;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: 88px;
    top: 30px;
}
.bubble-top {
    height: 106px;
    margin: 26px;
}
.bubble-top > span {
    color:whitesmoke;
    padding: 0.5rem;
}
.bubble-bottom {
    height: 42px;
    line-height: 42px;
    padding-left: 0.75rem;
    font-size: 0.75rem;
    color: #9c9c9c;
    background-color: #fff;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
.popup-mask {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #303030;
    opacity: 0.5;
    z-index: 3;
}
.redpack-popup {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 4;
}
.redpack-popup > div {
    position: relative;
    width: 620px;
    height: 830px;
    margin: 136px auto 0px;
    background-image: url("../imgs/redpack-pop.jpg");
    border-radius: 10px;
    transform: scale(0);
    transition: transform 0.2s ease-in-out 0s;
    text-align: center;
}
.redpack-popup > div > a.close {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 20px;
    left: 18px;
}
.redpack-popup > div > a.open {
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 438px;
    left: 210px;
}
.redpack-popup > div > span {
    color: #ebcd97;
    font-size: 1.5rem;
    display: block;
    padding-top: 300px;
}
.redpad-messge {
    width: 100%;
    margin: 12px auto;
    text-align: center;
}
.redpad-messge > div {
    display: inline-block;
    background-color: #d4d4d4;
    color: whitesmoke;
    border-radius: 14px;
    font-size: 0.75rem;
}
.redpad-messge p {
    margin: 0.5rem;
}
.grats-popup,
.boom-popup {
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;
    transform: scale(0);
    transition: transform 0.3s ease-in-out 0s;
}
.grats-popup > img,
.boom-popup > img {
    display: block;
    margin:166px auto 0px;
}
/* user index */
.user-home {
    text-align: center;
    width: 100%;
}
.user-home > div.home-avatar {
    position: relative;
    margin: 80px auto 20px;
    text-align: center;
    width: 212px;
    height: 212px;
}
div.home-avatar > img {
    border-radius: 50%;
}
div.home-avatar > span {
    position: absolute;
    background: url("../imgs/avatar-bg.png") no-repeat center center;
    width: 212px;
    height: 212px;
    left: 0px;
}
div.user-name {
    width: 100%;
    padding-bottom: 20px;
}
div.user-name > p {
    margin-bottom: 10px;
}
p.p-user-name {
    font-size: 1.4rem;
    color: #707070;
    font-weight: 500;
}
p.coin {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(247, 172, 21);
}
.coin::before {
    content: url("../imgs/coin.png");
}
ul.home-menu {
    text-align: left;
    background-color: #fff;
    width: 100%;
}
ul.home-menu > li {
    height: 100px;
    line-height: 100px;
    border: 1px solid #e2e2e2;
    padding: 0 60px;
}
ul.home-menu > li > a,
ul.home-menu > li > a:hover {
    display: block;
    color: #707070;
}
span.r-arrow {
    background: url("../imgs/r-arrow.png") no-repeat center center;
    width: 17px;
    height: 100px;
    float: right;
}
div.user-home > button {
    width: 680px;
    margin-top: 80px;
}
/* stat */
div.stat-container {
    margin-top: 120px;
}
div.stat-box {
    text-align: center;
    margin: 40px 0 0;
}
div.stat-box-top {
    font-size: 0.9rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    background-color: #f6253a;
    color: whitesmoke;
    height: 60px;
    line-height: 60px;
}
div.stat-box-bottom {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #f6253a;
    height: 80px;
    line-height: 80px;
    color: #f6253a;
}
div.stat-box-black > div.stat-box-top {
    color: whitesmoke;
    background-color: #434343;
}
div.stat-box-black > div.stat-box-bottom {
    color: #434343;
}
/* balance detail */
ul.balance-logs {
    padding-top: 20px;
    padding-bottom: 200px;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #ebebeb;
}
ul.balance-logs > li {
    background-color: #fff;
    height: 100px;
    line-height: 100px;
    border: 1px solid #e2e2e2;
    padding: 0 60px;
    color: #707070;
}
ul.balance-logs > li > span.log-time {
    padding-right: 10px;
    color: #9c9c9c;
    font-size: 0.9rem;
}
ul.balance-logs > li > span.log-point {
    float: right;
}
ul.balance-logs > li.red {
    color: #f6253a;
}
ul.balance-logs > li.more-log {
    text-align: center;
}
ul.balance-logs > li.more-log > a {
    color: #303030;
}
ul.balance-logs > li.no-more {
    text-align: center;
    color: #9c9c9c;
}
/* agent */
.agent {
    width: 100%;
    margin-top: 100px;
    text-align: center;
}
#qrcode > img {
    margin: 0 auto;
}
.agent > p {
    margin: 0;
    padding: 1rem 2rem 0;
}