<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, maximum-scale=0.5, user-scalable=no">
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/index.css">
</head>

<body class="bg-f8">
    <div class="banner">账号资金</div>

    <div class="user-home">
        <div class="home-avatar">
            <img src="static/imgs/avatar.jpg" alt="">
            <span></span>
        </div>
        <div class="user-name">
            <p id="userName" class="p-user-name"></p>
            <p id="point" class="coin"></p>
        </div>
        <ul class="home-menu">
            <li>
                <a href="stat.html">游戏统计
                    <span class="r-arrow"></span>
                </a>
            </li>
            <li>
                <a href="balanceDetail.html">收支记录
                    <span class="r-arrow"></span>
                </a>
            </li>
        </ul>
        <button type="button" onclick="logout()" class="btn btn-red">退出帐号</button>
    </div>

    <ul class="footer">
        <li class=""><a href="index.html">会员中心</a></li>
        <li class="active">帐号资金</li>
        <li class=""><a href="room.html">游戏大厅</a></li>
        <li class="">在线客服</li>
        <li class="">
            <a href="agent.html">我要代理</a>
        </li>
    </ul>
    <script src="static/js/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/common.js"></script>
    <script>
        $(document).ready(function () {
            if (location.protocol == "file:") return
            API.userInfo(function (result) {
                if (result.code != 1) {
                    location.href = "login.html";
                } else {
                    $("#userName").text(result.account);
                    $("#point").text(result.point);
                }
            });
        });
    </script>
</body>

</html>