<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/index.css">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/common.js"></script>
</head>
<body>
    <input id="caa" type="text"><button onclick="checkAccountAvailable()">CheckAccountAvailable</button><br>
    <input id="racc" type="text"><input id="rpwd" type="text"><input id="rpwd2" type="text"><button onclick="register()">Register</button><br>
    <input id="lacc" type="text" value="kamiokk"><input id="lpwd" type="text"><button onclick="login()">Login</button><br>
    <button onclick="logout()">Logout</button><br>
    <button onclick="info()">UserInfo</button><br>
    <input id="room" type="text"><input id="mine" type="text"><button onclick="giveOut()">giveOut</button><br>
    <input id="rid" type="text" /><button onclick="gain()">gain</button><br>
</body>
<script>
    var callback = function (json) {
        console.log(json);
    }
    function checkAccountAvailable() {
        API.checkAccountAvailable($("#caa").val(), callback);
    }
    function register() {
        API.register($("#racc").val(), $("#rpwd").val(), $("#rpwd2").val(), callback);
    }
    function login() {
        API.login($("#lacc").val(), $("#lpwd").val(), callback);
    }
    function logout() {
        API.logout(callback);
    }
    function info() {
        API.userInfo(callback);
    }
    function giveOut() {
        API.giveOut($("#room").val(), $("#mine").val(), callback);
    }
    function gain() {
        API.gain($("#rid").val(), callback);
    }
</script>

</html>